<button (click)="click()">click-to-hide</button>
<table>
  <tr>
    <th>Colors</th>
  </tr>
  <tr>
    <td>{{ red }}</td>
  </tr>
  <tr>
    <td>{{ yellow }}</td>
  </tr>
  <tr>
    <td>{{ green }}</td>
  </tr>
  <tr>
    <td [textContent]="blue">blue</td>
  </tr>
  <tr>
    <td [textContent]="indigo">indigo</td>
  </tr>
  <tr>
    <td [textContent]="violet">violet</td>
  </tr>
</table>`
<pre>--------------задание 10---------------------</pre>
<ul>
  <li>
    <app-comp0></app-comp0>
  </li>
  <li>
    <app-comp1></app-comp1>
  </li>
  <li>
    <app-comp2></app-comp2>
  </li>
  <li>
    <app-comp3></app-comp3>
  </li>
  <li>
    <app-comp4></app-comp4>
  </li>
  <li>
    <app-comp5></app-comp5>
  </li>
  <li>
    <app-comp6></app-comp6>
  </li>
  <li>
    <app-comp7></app-comp7>
  </li>
  <li>
    <app-comp8></app-comp8>
  </li>
  <li>
    <app-comp9></app-comp9>
  </li>
</ul>
<pre>--------------задание 11---------------------</pre>
